html {
    scrollbar-color: #C9D0D8 rgb(110, 110, 110);
    background-color: #37474F;
}

.outside {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.inside {
    scroll-snap-align: start;
}

.jumbotron{
    background-image: url("../assets/backdrop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: center;
}

.shaded {
    background-color: rgba(32, 49, 56, .85);
    padding: 2vw;
    border-radius: 5px;
}

.chonker {
    margin-left: 38px;
    margin-right: 38px;
    border-radius: 1.5vw;
}

#left-col {
    margin-left: 76px;
}

#right-col {
    margin-right: 76px;
}

#tiny-hero {
    height: 100vh;
}

#about-me {
    background-image: url("../assets/about-me-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: center;
}

#tiny-hero h3 {
    font-size: 20px;
    text-align: center;
}

.vert-mid {
    margin-top: 100px;
    vertical-align: middle;
}

.navbar {
    position: absolute;
    top:0px;
    left:0px;
    overflow: hidden;
}

h1 {
    color: #DCC3B9;
    font-size:calc(24px + 2.5vw);
    font-family: 'Roboto Mono', monospace;
}

h3 {
    color: #C9D0D8;
    font-size: 1.75vw;
    font-family: 'Roboto', sans-serif;
}

h2 {
    color: #889C85;
    font-size:calc(16px + 1vw);
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

p {
    color: #FEF9F6;
    font-family: 'Roboto', sans-serif;
    font-size: calc(12px + .5vw);
}

#profile-picture {
    border-radius: 50%;
    width: 8vw;
}

th, td {
    font-family: 'Roboto', sans-serif;
    color: #FEF9F6;
    font-size: calc(12px + .5vw);
}

a {
    color: #14282F;
    font-size: 22px;
    margin-inline: 20px;
    font-family: 'Roboto Mono', monospace;
}

#table a {
    color: #FEF9F6;
    font-family: 'Roboto', sans-serif;
    font-size: calc(12px + .5vw);
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
    color: #7FAA76;
  }
  
  a:active {
    text-decoration: underline;
    color: #7FAA76;
  }

.mobile {
    text-align: center;
}

::-webkit-scrollbar {
    /* width */
    width: 12px;
}


::-webkit-scrollbar-track {
    /* Track */
    box-shadow: inset 0 0 5px grey;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    /* Handle */
    background: #102D31;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    /* Handle on hover */
    background: #102D31;
}

::-webkit-scrollbar-track-piece {
    /* not handle on */
    background: #A4B3C5;
}