#hero {
    margin:40px auto;
    max-width:550px;
}

.alert {
    font-family: "Pixelated MS Sans Serif";
}

.myspace-text {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

h5{
    font-weight: bolder;
    font-size: 12px;
    padding-left: 5px;
    margin-bottom: 0;
    margin-top: 5px;
}

span {
    line-height: 1em;
}

html { 
    background: url(../assets/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.alert-img {
    width: 5em;
    height: 5em;
}

#desc {
    line-height: .5em;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin: 10px;
}

#myspace-window {
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    margin-top: 0px;
    background-color: white;
}
#navbar {
    background-color: blue;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#myspace-text {
    margin: 0;
    padding: 5px;
}

#aidan-profile {
    display: grid;
    grid-template-columns: 4fr 6fr;
}

#my-img {
    width: 9em;
    height: 9em;
}

h4 {
    font-size: 11pt;
    margin-top: 0px;
    margin-bottom: 3px;
}

.myspace-cols {
    margin: 5px;
}

#border-bitch {
    border-width: 1px;
    border-style: solid;
    border-color: lightblue;
}

#extended-network {
    margin: 0;
    padding: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}